<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.splashscreen"
      version="0.2.4">
    <name>Parse Push Notifications</name>
    <description>Implement support for Parsecom push notifications</description>
    <license>Apache 2.0</license>
    <keywords>cordova,parse,push,notifications</keywords>
    <repo>https://github.com/RossValler/PhonegapParsePushNotifs.git</repo>

    <js-module src="www/parsepush.js" name="parsepush">
        <clobbers target="notifications.parsepush" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ParsePushNotifications">
                <param name="ios-package" value="CDVParsePushNotifications"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVParsePushNotifications.h" />
        <source-file src="src/ios/CDVParsePushNotifications.m" />
    </platform>

</plugin>